@import "tailwindcss";

@theme {
  --font-cirka: var(--font-ppcirka), serif;
  --font-helvetica: var(--font-helvetica), sans-serif;
}

/* Optional base setup */
body {
  font-family: var(--font-helvetica);
  color: #111;
  background: #fff;
}

h1, h2, h3, h4 {
  font-family: var(--font-family-ppcirka);
}